executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
    runOptions= "--entrypoint=''"
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}
timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    cpus=4
    memory = "2G"
    container="raphaelrubrice/reprohackathon_6"
}
