executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
    runOptions= "--entrypoint=''"
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}
timeline {
    enabled = true
    file = 'reports/timeline.html'
    overwrite = true
}
dag {
    enabled = true
    file = 'reports/dag.dot'
    overwrite = true
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    container="raphaelrubrice/reprohackathon_6"
}

params {
    params.cpus = 2
    params.memory = '2G'
}