executor {
    cache = true
    name = 'local'
    queueSize = 2000
}

docker {
    enabled = true
    runOptions= "--entrypoint=''"
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}
timeline {
    enabled = true
    file = 'reports/timeline.html'
    overwrite = true
}
dag {
    enabled = true
    file = 'reports/dag.dot'
    overwrite = true
}
process {
    executor='local'
    scratch=false
    cpus={ params.threads }
    maxRetries=0
    errorStrategy='retry'

    withName: dlFastqs {
        container="raphaelrubrice/reprohackathon_6:sra-toolkit_latest"
    }
    withName: trim_samples {
        container="raphaelrubrice/reprohackathon_6:cutadapt_1.11"
    }
    withName: get_reference_genome {
       container="raphaelrubrice/reprohackathon_6:wget_latest"
    }
    withName: build_index {
       container="raphaelrubrice/reprohackathon_6:bowtie_0.12.7_samtools_latest"
    }
    withName: map_to_genome {
        container="raphaelrubrice/reprohackathon_6:bowtie_0.12.7_samtools_latest"
    }
    withName: get_annotations {
       container="raphaelrubrice/reprohackathon_6:wget_latest"
    }
    withName: counting {
        container="raphaelrubrice/reprohackathon_6:featurecounts_1.4.6"
    }
    withName: check_quality_fastq {
        container="raphaelrubrice/reprohackathon_6:fastqc_latest"
    }
    withName: stat_analysis {
        container="raphaelrubrice/reprohackathon_6:r_deseq2_1.16.1"
    }
    withName: create_coldata {
        container="raphaelrubrice/reprohackathon_6:r_deseq2_1.16.1"
    }
    withName: gene_pathway_analysis {
        container="raphaelrubrice/reprohackathon_6:r_enrichmentbrowser_2.14.3"
    }
}

// params {
//     params.cpus = 2
//     params.memory = '2G'
// }
